@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 667px) {
  .input {
    width: 16rem;
  }
  .container {
    width: 20rem;
  }
}
@media (max-width: 320px) {
  .input {
    width: 14rem;
  }
  .container {
    width: 18rem;
  }
}
